@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
html {
    font-family: arial;
    margin: 0px;
}
body {
    margin: 0px;
    background-color: black;
    color: white;
    font-family: "Fira Code", monospace;
}
nav li {
    font-size: 20px;
    list-style-type: none;
    display: inline;
    padding: 1%;
    color: #c0c5ce;
}
nav li:hover {
    background-color: #ffffff;
}
nav a {
    text-decoration: none;
    color: #4f5b66;
}
nav {
    padding-left: 10%;
    padding-right: 10%;
    margin: 0;
    overflow: hidden;
    background-color: #151515;
}
main {
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding-top: 2.5%;
}
main p {
    font-size: 20px;
}
pre code p {
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 10px;
    border: 1px #404040;
}
.a code p {
    background-color: #404040;
    color: white;
}